node_modules/
dist/
functions/lib/
.pnpm-store/
**/.node_modules.incomplete-*/
**/.DS_Store
tmp/
firebase-debug.log*
firebase-debug*.log
firestore-debug.log*
ui-debug.log*
.firebase/
.env
.env.*
!.env.example
coverage/
*.local
*.tsbuildinfo
src/pages/ReportPage\ 2.tsx
